.toast {
    position: fixed;
    top: 12vh;
    right: 0;
    width: auto;
    max-width: 90vw;
    transform: translateX(100%);
    padding: 1rem;
    padding-right: calc(1rem + 1.5rem);
    border-radius: 0.25rem 0 0 0.25rem;
    opacity: 1;
    z-index: 10000;

    transition: transform 0.3s ease-in-out;
    transition-delay: 0.2s;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1.5rem;
        pointer-events: none;
    }
}

.toast.show {
    transform: translateX(0);
}

.success {
    background-color: var(--success300);

    &::after {
        background-color: var(--success400);
    }
}

.error {
    background-color: var(--error300);

    &::after {
        background-color: var(--error400);
    }
}