.main {
  margin: 0 auto;
  padding-bottom: 3rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
  color: var(--foreground);
  text-align: left;
}

.form {
  display: grid;
  gap: 0.75rem; 
  margin-bottom: 1.25rem;
}

.submitButton {
    align-self: flex-end;
}